/*mobile first*/
.apresentacao {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f1f1ef; 
  height: 100vh;
  /* border: 1px solid #1d1c1c; */
}

.apresentacao__container {
  display: grid;
  padding: 20px;
  margin: 20px 0;
  gap: 30px;
  justify-content:space-between;
}


.apresentacao__card{
  display: grid;  
  gap: 20px;
  justify-content: end;
}


.apresentacao__card__titulo {
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: 10px;
  color: #243130;
}

.destaque1 {
  color: #f14437;
}

.destaque2 {
  color: #2b8a86;
}

.apresentacao__btn__cadastro {
  padding: 17px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #2b8a86;
  color: #edf7f6;
  font-size: 1.2rem;
  width: 300px;
  font-weight: 600;
}

.apresentacao__btn__cadastro:hover {
  background-color: #f16457;
  font-weight: bold;
  border: none;
}


.apresentacao__imagem{
  max-width: 300px;

} 





/* @media (min-width: 500px) { 
  .apresentacao__imagem{
    max-width: 400px;
  } 
  
} */


/*tela tablets*/

@media (min-width: 600px) {
  .apresentacao__container {
    grid-template-columns: 1fr 2fr;
    align-items:end;
  }

  .apresentacao__card__titulo {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #243130;
  }

  .apresentacao__imagem{
    max-width: 250px;
  } 
  
}


@media (min-width: 768px) {
  .apresentacao__container {   
    align-items:center;
  }
  
  .apresentacao__imagem{
    max-width: 100%;
  } 


  
}