/*mobile first*/

#modal__login{
	border:none;
	padding: 1rem;
	border-radius: 2rem;
	min-width: 300px;
	margin: auto; 


	button.iconFechar{
		background: none;
		border: none;
		float: right;
		cursor: pointer;
		filter: grayscale();
	}     
}

#modal__login::backdrop { 
	background: #0009; 
}


.login__titulo {
  text-align: center;
  padding: 10px;
	color: #243130;	
	font-size: 1.2rem;
	letter-spacing: 2px;	
}

.formulario__campo {
  display:flex;
  flex-direction: column; 
  border: none;
}


.formulario__campo label{
	margin-bottom: 5px;
}

.formLogin__input {
  padding: 10px;
  /* margin: 0 0 10px; */
}

.formLogin__botao {
	display: block;
    margin-top: 20px;
    padding: 12px 24px;
	border-radius: 24px;
	width: 100%;
	border: 0;
	background-image: linear-gradient(to bottom right, #2B8A86, #21cdc3);
	color: #ffffff;
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
}

/*validacao form*/
.mensagem-erro {
	color: red;
	margin: 10px 0;
}


/*tela tablets e maiores*/
@media (min-width: 600px) {
	#modal{
		min-width: 400px;    
	}
  
}




