/*mobile first*/

.cabecalho {
  background-color: #2B8A86;
  color: #EDF7F6; 
}

.cabecalho__navegacao {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo  h1{
  font-size: 1.3rem;
  color: #EDF7F6;
}


/*cadastro e login*/
.navegacao__menu__links_autenticacao {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn__cadastro {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0; 
  background: none;
  color: #EDF7F6;
  font-size: 1rem;
}

.btn__cadastro:hover {
  background-color: #F16457; 
}

.btn__login {
  background: none;
  color: #EDF7F6;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid #ffffff;
  font-size: 1rem;
}

.btn__login:hover {
  background-image: linear-gradient(to bottom right, #2B8A86, #21cdc3);
  
}

/*menu voluntarios e vagas*/
.navegacao__menu__links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  justify-content: center;
}

.navegacao__menu__link a {
  color: #ffffff;
  padding: 10px;
}

.navegacao__menu__link a:hover {
  text-decoration: underline;
}


/*telas maiores*/
@media (min-width: 800px) { 
  
  .cabecalho__navegacao {    
    flex-direction: row;
    justify-content: space-between;
  }

  .navegacao__menu__links_autenticacao {
    order: 1;
    
  }

  .navegacao__menu__links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }  
}

