/*mobile first*/
.cabecalho__pesquisa {
  display: flex;
  flex-wrap: nowrap;
}

.dropdown__menu {
  color: black;
  font-weight: 600;
  padding: 10px; 
  font-size: 1rem;
}

.form__pesquisa input {
  width: 260px;
  height: 40px;
  border: 1px solid rgb(225, 222, 222);
  font-size: 16px;
  padding: 3px 8px;
  cursor: pointer;
}

.form__pesquisa__icon::placeholder {
  font-size: 18px;
  background: url("/assets/img/icones/search.svg");
  background-repeat: no-repeat;
  background-position: right center;
}



/*lista de oscs*/
.oscs {
  border-radius: 50px;
  max-width: 1200px;
  margin: 0 auto;
  /* height: 100vh; */
}


.tabela {
  background-color: #f7f7f7;
  margin: 50px 0;
}

.tabela__cabecalho{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-column: 1 / -1;
  gap: 20px;
  font-weight: bold;
}


.tabela__cabecalho, .tabela__celula-item {
  padding: 12px;  
  border-bottom: 1px solid #ddd;
}


.tabela__cabecalho {
  background-color: #61a16f;
  color: white;
}

.tabela__celula{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-column: 1 / -1;  
}



/*telas maiores*/
@media (min-width: 500px) {
  .cabecalho__pesquisa input {
    width: 360px;
  }
}
